#search
{
    display: block;
    margin-left: auto;
    margin-right: auto;
  text-align: center;
  margin-top: -7%;
  font-size: 20px;

}


#secimg
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;


}
#thirdimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
   


}
#copyright
{
    display: block;
    margin-left: auto;
    margin-right: auto;
  text-align: center;

}
